<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administracion</title>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
<header id="header"></header>
<nav id="nav"></nav>
<div class="container">
    <h1>Lista de Proveedores</h1>
    <form action="/actualizarUsuarios" method="post">
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Estado</th>
            </tr>
<!--            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.contrasena}"></td>
                <td><select id="estadoUsuario" name="estadoUsuario">
                    <option value="true">Activa</option>
                    <option value="false">Desactiva</option>
                </select>
                </td>
            </tr>-->
        </table>
        <!-- Botón para Guardar cambios en la página de proveedores -->
        <button type="submit">Guardar Cambios</button>
    </form>
</div>
<div id="footer"></div>
<script src="/JS/base.js"></script>
<script src="/JS/app.js"></script>
</body>
</html>
