<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:extends="Base">
<head>
    <meta charset="UTF-8">
    <title>Administracion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}">
</head>
<body>
<header th:replace="Base :: header"></header>
<nav th:replace="Base :: nav"></nav>
<div class="container">
    <h1>Lista de Proveedores</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Contraseña</th>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.contrasena}"></td>
        </tr>
    </table>
    <!-- Botón para redirigir a la página de registro de clientes -->
    <a th:href="@{/AdministrarProveedores}" class="button">Administrar Proveedores</a>
</div>
<div th:replace="Base :: footer"></div>
</body>
</html>
