<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:extends="Base">
<head>
    <meta charset="UTF-8">
    <title>Administracion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}">
</head>
<body>
<header th:replace="Base :: header"></header>
<nav th:replace="Base :: nav"></nav>
<div class="container">
    <h1>Lista de Proveedores</h1>
    <form action="#" method="post">
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Estado</th>
            </tr>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.contrasena}"></td>
                <td><select id="estadoUsuario" name="estadoUsuario" required>
                    <option value="Activa">Activa</option>
                    <option value="Desactiva">Desactiva</option>
                </select>
                </td>
            </tr>
        </table>
        <!-- Botón para Guardar cambios en la página de proveedores -->
        <button type="submit">Guardar Cambios</button>
    </form>
</div>
<div th:replace="Base :: footer"></div>
</body>
</html>
