<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:extends="Base">
<head>
    <meta charset="UTF-8">
    <title>Lista de Facturas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}">
</head>
<body>
<header th:replace="Base :: header"></header>
<nav th:replace="Base :: nav"></nav>
<div class="container">
    <h1>Lista de Facturas</h1>
    <table>
        <thead>
        <tr>
            <th>Número de Factura</th>
            <th>Cliente</th>
            <th>Correo Electrónico</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="factura : ${facturas}">
            <td th:text="${factura.numFactura}"></td>
            <td th:text="${factura.cliente}"></td>
            <td th:text="${factura.email}"></td>
        </tr>

        </tbody>
    </table>
    <!-- Botón para redirigir a la página de registro de facturas -->
    <a th:href="@{/RegistrarFacturas}" class="button">Registrar Factura</a>
</div>
<footer th:replace="Base :: footer"></footer>
</body>
</html>
>