<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:extends="Base">
<head>
    <meta charset="UTF-8">
    <title>Lista de Facturas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}">
</head>
<body>
<header th:replace="Base :: header"></header>
<nav th:replace="Base :: nav"></nav>
<div class="container">
    <h1>Lista de Facturas</h1>
    <table>
        <thead>
        <tr>
            <th>Número de Factura</th>
            <th>Cliente</th>
            <th>Correo Electrónico</th>
        </tr>
        </thead>
        <tbody>
        <!-- Factura 1 -->
        <tr>
            <td>001</td>
            <td>Cliente A</td>
            <td>clienteA@example.com</td>
        </tr>
        <!-- Factura 2 -->
        <tr>
            <td>002</td>
            <td>Cliente B</td>
            <td>clienteB@example.com</td>
        </tr>
        <!-- Factura 3 -->
        <tr>
            <td>003</td>
            <td>Cliente C</td>
            <td>clienteC@example.com</td>
        </tr>
        <!-- Factura 4 -->
        <tr>
            <td>004</td>
            <td>Cliente D</td>
            <td>clienteD@example.com</td>
        </tr>
        <!-- Factura 5 -->
        <tr>
            <td>005</td>
            <td>Cliente E</td>
            <td>clienteE@example.com</td>
        </tr>
        </tbody>
    </table>
    <!-- Botón para redirigir a la página de registro de facturas -->
    <a th:href="@{/RegistrarFacturas}" class="button">Registrar Factura</a>
</div>
<footer th:replace="Base :: footer"></footer>
</body>
</html>
>