<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido/a!</title>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
<header id="header"></header>

<div class="container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <label>Usuario</label>
        <input type="text" id="usuario" name="usuario" required>
        <br><br>
        <label>Contraseña</label>
        <input type="text" id="clave" name="clave" required>
        <br><br>
        <button type="submit">Login</button>
        <h2><a href="/RegistrarUsuarios">Si no posee cuenta, aqui puede solicitar que el admin le active una</a></h2>
    </form>
</div>

<div id="footer"></div>
<script src="/JS/base.js"></script>
</body>
</html>
