<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:extends="Base">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido/a!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}">
</head>
<body>
<header th:replace="Base :: header"></header>
<nav th:replace="Base :: nav"></nav>

<div class="container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <label>Usuario</label>
        <input type="text" id="id" name="id" required>
        <br><br>
        <label>Contraseña</label>
        <input type="text" id="clave" name="clave" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
</div>

<div th:replace="Base :: footer"></div>
</body>
</html>
