<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Clientes</title>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
<header id="header"></header>
<nav id="nav"></nav>

<div class="container">
    <h1>Registro de Productos</h1>
    <form action="/addProducto" method="post" id="formularioProductos">
        <div>
            <label for="descripcion">Descripcion del Producto:</label>
            <input type="text" id="descripcion" name="descripcion" required>
        </div>
        <div>
            <label for="cantidad">Cantidad del Producto:</label>
            <input type="text" id="cantidad" name="cantidad" required>
        </div>
        <div>
            <button type="submit">Registrar Producto</button>
        </div>
    </form>
</div>
<footer id="footer"></footer>
<script src="/JS/base.js"></script>
<script src="/JS/app.js"></script>

</body>
</html>
