<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Clientes</title>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
<header id="header"></header>
<div hidden="hidden" id="nav"></div>
<div class="container">
    <h1>Registro de Clientes</h1>
    <form action="/addUsuario" method="post" id="formularioUsuario">
        <div>
            <label for="nombre">Nombre del Cliente:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
            <label for="clave">Contraseña:</label>
            <input type="password" id="clave" name="clave" required>
        </div>
        <div>
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <button type="submit">Registrar Cliente</button>
            <button type="button" onclick="location.href='/'">Cancelar</button>
        </div>
    </form>
</div>
<div id="footer"></div>
<script src="/JS/base.js"></script>
<script src="/JS/app.js"></script>

</body>
</html>
